@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 2px; /* Thin slider */
    background: transparent;
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px; /* Thumb size */
    height: 12px;
    background-color: blue; /* Customize color */
    border-radius: 50%; /* Circular thumb */
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}


.bg-layer{
    background-image: url(/bg_layer.png);
}